/*Variables*/
:root{
    font-size: 15px;
    --font-family: 'Nunito', sans-serif;
    --color-grissuave: #616161;
    --color-grisfuerte: #212121;
    --color-azulsuave: #0288D1;
    --color-azulfuerte: #1976D2;
    --color-naranjasuave: #FBC02D;
    --color-naranjafuerte: #F57C00;
    --color-blanco: #FFF;
    --color-negro: #000;
    --color-rosa: #D81B60;     
}

/*Formateo de estilos por defecto*/
*{
    margin: 0;    
    padding: 0;    
    font-family: var(--font-family);
}


/*estilos para el body*/
body{    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 4rem;
    background: var(--color-naranjasuave);
}

/*Estilos de la barra de Scroll - esto es solo para chrome y safari*/
body::-webkit-scrollbar{
    width: 0.25rem;
}

body::-webkit-scrollbar-track{
    background: var(--color-azulsuave);
}

body::-webkit-scrollbar-thumb{
    background: var(--color-naranjasuave);
}

/*Maquetación Grip HOME*/
.grid{        
    width: 1280px;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 0.5fr 5fr;
    grid-template-rows: 1fr 5fr 0.5fr;
    grid-template-areas: "aside header  "
                         "aside section "
                         "aside footer  ";    
    }

.header{
    grid-area: header;
    background: var(--color-blanco);    
    border-radius: 0px 20px 0px 0px;
}

.asideOne{
    grid-area: aside;
    background: var(--color-negro);
    border-radius: 20px 0px 0px 20px;
}

.sectionOne{
    grid-area: section;
    background: var(--color-blanco);    
}

.footer{
    grid-area: footer;
    background: var(--color-blanco);
    
    border-radius: 0px 0px 20px 0px;
}

/*NAV ASIDE*/

.asideOne{
    min-width: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.socialMedia{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.socialMedia a{
    font-size: 3rem;
    text-decoration: none;
    list-style: none;
    color: var(--color-blanco);
    padding: 1rem;
    transition: all 0.4s;
}

.socialMedia a:hover{
    color: var(--color-azulsuave);
    font-size: 4rem;
}

.socialMedia a:nth-child(2):hover{
    color:var(--color-naranjasuave);
    font-size: 4rem;
}

/*NAV MENU*/

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    width: 83%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center;    
    text-decoration: none;
    list-style: none;
}

.navbar ul li a{
    font-size: 2rem;
    text-decoration: none;
    list-style: none;
    color: var(--color-negro);
    font-weight: 700;
    transition: all 0.5s;
}

.navbar ul li a:first-child{
    padding: 0 0 0 3rem;
}

.navbar ul li a:hover{
    color: var(--color-azulsuave);
}

.navbar img{
    width: 13rem;
    cursor: pointer;
}

/*SECTION ONE*/

.sectionOne{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem  3rem;
}

.iframe-container{
    position: relative;
    width: 90%;
    padding-bottom: 50%; 
    height: 0;
}

.iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*FOOTER*/

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem 3rem 1rem;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--color-negro);
}


@media screen and (max-width: 765px){  

    .grid{     
        width: 600px; 
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 4fr 0.9fr 0.2fr;
        grid-template-areas: "header    "                              
                             "section   "
                             "aside     "
                             "footer    ";
    }

    .header{
        border-radius: 20px 20px 0px 0px;
    }
    
    .navbar ul li a{
        font-size: 1.2rem;
    }

    .navbar img{
        width: 10rem;
    }

    .sectionOne{
        padding: 0 1rem;
    }

    .asideOne{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: var(--color-blanco);
        border-radius: 0;        
    }  

    .socialMedia{
        display: flex;
        flex-direction: row;
        padding: 0;
    }

    .socialMedia a{
        font-size: 2rem;
        color:var(--color-negro);
    }

    .socialMedia a:hover{
        font-size: 2.5rem;
    }

    .socialMedia a:nth-child(2):hover{
        font-size: 2.5rem;
    }

    .footer{
        border-radius: 0px 0px 20px 20px;
        padding: 0 0 2rem 0;
    }
  
    

}